@{
    ViewData["Title"] = "Contact";
    Layout = "/Views/Shared/_Layout.cshtml";
    var address = Html.Localize("companyinfo.address");
    var encodedAddress = Uri.EscapeDataString(address);
    var mapUrl = $"https://www.google.com/maps?q={encodedAddress}&output=embed";
}
<!-- ==============================
    Breadcumb
============================== -->
<div class="breadcumb-area ">
    <div class="breadcumb-wrapper" data-bg-src="/img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">@Html.Localize(key: "pages.layout.communication")</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">@Html.Localize("pages.layout.index")</a></li>
                    <li>@Html.Localize(key: "pages.layout.communication")</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--==============================
Contact Area  
==============================-->
<div class="contact-area space space-extra-bottom overflow-hidden">
    <div class="container">
        <div class="contact-wrapp2 mb-60 smoke-bg">

            <div class="contact-infobox-bottom d-xl-flex align-items-center justify-content-between">
                <div class="about-contact-grid inner-style">
                    <span class="about-contact-icon">
                        <i class="fa-solid fa-headphones-simple"></i>
                    </span>
                    <div class="about-contact-details">
                        <span class="sec-text">@Html.Localize(key: "pages.contact.phone")</span>
                        <p class="about-contact-details-text">
                            <a href="tel:+903325012218">@Html.Localize("CompanyInfo.Phone")</a>
                        </p>
                    </div>
                </div>
                <div class="about-contact-grid inner-style">
                    <span class="about-contact-icon">
                        <i class="fa-light fa-envelope-open-text"></i>
                    </span>
                    <div class="about-contact-details">
                        <span class="sec-text">@Html.Localize(key: "pages.contact.email")</span>
                        <p class="about-contact-details-text">
                            <a href="mailto:info@kayialp.com">@Html.Localize("CompanyInfo.EMail")</a>
                            <a href="mailto:info@kayialp.com">@Html.Localize("CompanyInfo.EMail2")</a>
                        </p>
                    </div>
                </div>
                <div class="about-contact-grid inner-style">
                    <span class="about-contact-icon">
                        <i class="fa-thin fa-map-location-dot"></i>
                    </span>
                    <div class="about-contact-details">
                        <span class="sec-text">@Html.Localize(key: "pages.contact.address")</span>
                        <p class="about-contact-details-text">
                            <a href="#">@Html.Localize("CompanyInfo.address")</a>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form-wrapp2">
            <div class="row">
                <div class="col-xl-7 order-1 order-xl-0">
                    <div class="contact-formbox">
                        <form action="mail.php" method="POST" class="contact-form ajax-contact">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <input type="text" class="form-control" name="name" id="name3"
                                        placeholder="@Html.Localize(key: "pages.contact.ph_firstname")">
                                    <img src="assets/img/icon/user.svg" alt="">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="text" class="form-control" name="surname" id="surname"
                                        placeholder="@Html.Localize(key: "pages.contact.ph_lastname")">
                                    <img src="assets/img/icon/user.svg" alt="">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="@Html.Localize(key: "pages.contact.ph_email")">
                                    <img src="assets/img/icon/mail.svg" alt="">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input type="text" class="form-control" name="number" id="number"
                                        placeholder="@Html.Localize(key: "pages.contact.ph_phone")">
                                    <img src="assets/img/icon/call.svg" alt="">
                                </div>
                                <div class="form-group col-12">
                                    <textarea name="message" id="message" cols="30" rows="3" class="form-control"
                                        placeholder="@Html.Localize(key: "pages.contact.ph_message")"></textarea>
                                    <img src="assets/img/icon/chat.svg" alt="">
                                </div>
                                <div class="form-btn col-12">
                                    <button type="submit" class="th-btn">
                                        @Html.Localize(key: "pages.contact.ph_submit") <img
                                            src="assets/img/icon/plane4.svg" alt="">
                                    </button>
                                </div>
                            </div>
                            <p class="form-messages mb-0 mt-3"></p>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 order-0 order-xl-1">
                    <div class="contact-thumb">
                        <img src="/img/normal/contact-2-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Map Area
==============================-->
<div class="">
    <div class="contact-map style2">
        <iframe src="@Html.Localize("companyinfo.mapurl")" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>